/* some code */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

:root {
  --bg-white: #f2f2f2;
  --lightgrey: #ddd;
  --medium-grey: #acb7c3;
  --border: #000;
  --font-color: #fff;
  --error: rgb(250, 1, 1);
  --grey: rgb(128, 128, 128);
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

nav {
  box-shadow: var(--border) 0 0 10px;
  border: var(--border) solid 2px;
  display: flex;
  justify-content: space-between;
}

nav > ul {
  min-width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

nav > ul > li {
  cursor: pointer;
  padding: 20px;
  border-right: var(--border) solid 1px;
}

nav > h1 {
  cursor: pointer;
  font-size: 30px;
  color: var(--border);
  min-width: 30%;
}

#time-and-date {
  padding: 20px;
  margin: 0 0 0 auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--lightgrey);
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--bg-white);
}

tr:hover {
  background-color: var(--lightgrey);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--border);
  color: var(--font-color);
}

.error-message {
  color: var(--error);
  display: none;
}

.form {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 20px;
}

#form {
  display: none;
}

input {
  width: 300px;
  height: 35px;
  border: 1px solid var(--grey);
  box-shadow: 0 0 5px var(--grey);
}

.add-button {
  width: 20%;
  display: flex;
  justify-content: end;
}

.add {
  width: 100px;
  padding: 5px;
  border: 1px solid var(--grey);
  box-shadow: 0 0 5px var(--grey);
  background-color: var(--font-color);
  color: var(--border);
}

.add:hover {
  background-color: var(--border);
  color: var(--font-color);
  transition: all 0.5s ease-in-out;
}

.remove {
  width: 100px;
  padding: 10px;
  border: 1px var(--error) solid;
  background-color: var(--font-color);
  color: var(--error);
  border-radius: 10px;
}

.remove:hover {
  background-color: var(--error);
  color: var(--font-color);
  transition: all 0.5s ease-in-out;
}

.contact-header {
  text-align: center;
}

.contact {
  display: none;
}

.footer {
  border: 2px solid var(--border);
  padding: 3px;
  position: fixed;
  bottom: 0;
  background-color: var(--font-color);
  width: 98%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.footer-info {
  margin-left: 1rem;
}

form {
  display: flex;
  place-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

label {
  display: block;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#display {
  display: none;
}
